.lottoMainView {
  -fx-background-color: #ffdd00;
}

#numberToChooseLabelWrapper {
  -fx-padding: 0 0 10px 0;
  -fx-border-insets: 0 0 10px 0;
  -fx-background-insets: 0 0 10px 0;
}

#numsToChoose {
  -fx-text-fill: red;
}

#numsToChoose.green {
  -fx-text-fill: lime;
}

.actionButton {
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  -fx-border: none;
  -fx-background-color: #fff;
  -fx-background-insets: 0 10px 0 0;
  -fx-border-insets: 0 10px 0 0;
  -fx-border-color: red;
  -fx-border-width: 2px;
  -fx-border-style: solid;
}

.actionButton:hover {
  -fx-background-color: #eee;
}

.numberGrid {
  -fx-hgap: 10px;
  -fx-vgap: 10px;
}

.numberGrid .numberChoosePane {
  -fx-background-color: #fff;
  -fx-border-color: red;
  -fx-border-width: 2px;
  -fx-border-style: solid;
  -fx-min-height: 30px;
  -fx-min-width: 30px;
  -fx-pref-height: 40px;
  -fx-pref-width: 40px;
  -fx-background-radius: 0;
}

.numberGrid .numberChoosePane .numberButtonLine {
  -fx-stroke-width: 3px;
  -fx-stroke-line-join: round;
}

.numberGrid .numberChoosePane .numberButton {
  -fx-border: none;
  -fx-background-color: transparent;
  -fx-text-fill: red;
}

.numberGrid .numberChoosePane.hover {
  -fx-background-color: #eee;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0, 0, 1);
}

.numberGrid .numberChoosePane.active {
  -fx-background-color: #faf;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0, 0, 1);
}
/*# sourceMappingURL=lotto.css.map */