.lottoMainView {
  -fx-background-color: #ffdd00;
}

#numberToChooseLabelWrapper {
  -fx-padding: 0 0 10px 0;
  -fx-border-insets: 0 0 10px 0;
  -fx-background-insets: 0 0 10px 0;
}

#numsToChoose{
  -fx-text-fill: rgb(255,0,0);

  &.green{
   -fx-text-fill: rgb(0, 255, 0);
  }
}

.actionButton {
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  -fx-border: none;
  -fx-background-color: #fff;
  -fx-background-insets: 0 10px 0 0;
  -fx-border-insets: 0 10px 0 0;
  -fx-border-color: rgb(255, 0, 0);
  -fx-border-width: 2px;
  -fx-border-style: solid;

  &:hover {
    -fx-background-color: #eee;
  }
}

.numberGrid {
  -fx-hgap: 10px;
  -fx-vgap: 10px;

  .numberChoosePane {
    -fx-background-color: #fff;
    -fx-border-color: rgb(255, 0, 0);
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-min-height: 30px;
    -fx-min-width: 30px;
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-background-radius: 0;

    .numberButtonLine {
      -fx-stroke-width: 3px;
      -fx-stroke-line-join: round;
    }

    .numberButton {
      -fx-border: none;
      -fx-background-color: transparent;
      -fx-text-fill: rgb(255, 0, 0);
    }

    &.hover {
      -fx-background-color: #eee;
      -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0, 0, 1);
    }

    &.active {
      -fx-background-color: #faf;
      -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0, 0, 1);
    }
  }
}
